#ignores the SoundMetrics directory
/aris-file-sdk-master

#ignore Nils Matlab files folder
/ARISreader-master

#ignore *.aris files
*.aris

#ignore *.spyderworkspace config file
*.spyderworkspace

#ignore compile python files
*.pyc

#ignore ffmpeg
ffmpeg.exe

#ignore any mp4 files
*.mp4

#Ignore any image files
*.png
*.jpg

#Ignore compiled files
*.pyc

#Ignore my test files
ARIS_Read.py